img {
    width: 20px;
    height: 20px;
}

.dashboard {
 box-sizing: border-box;
 display: grid;
 grid-template-columns: 1fr 4fr;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #1892d3;
    color: white;
    grid-column: 1 / 2;
    grid-row: span 2;
    display: grid;
    align-content: start;
    padding: 15px;
}

.sidebar img {
    filter: invert(100%);
}

.sidebar-1, .sidebar-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.nav {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.icon{
    display: flex;
    
}

#logo{
    font-size: 22px;
}

#logoimg{
    width: 20px;
    height: 25px;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    row-gap: 30px;
}

input {
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color: #e2e8f0;
}

.header1{
    display: flex;
    gap: 10px;
}

.header2{
    display: flex;
    gap: 15px;
    justify-content: end;
    padding-right: 10px;
}

.header3{
    display: flex;
    gap: 10px;
}

.eren{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#erenleft{
    width: 30px;
    height: 30px;
}

#hi{
    font-size: 12px;
}

button{
    background-color: #1892d3;
    border-radius: 15px;
    border: none;
    padding: 5px 15px 5px 10px;
    color: white;
    width: 70px;
    height: 25px;
    font-size: 12px;
}

.button{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    gap: 10px;
}

.main-content{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    background-color: #e2e8f0;
}

.cardsofprojects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 15px;
}

.card{
    background-color: white;
    border-radius: 10px;
    height: 200px;
    padding: 25px;
    position: relative;
    background: linear-gradient(
    to right,
    #f0b429 0% 3%,
    white 3% 100%
  );
}

.cardsofannouncements{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid brown;
}

.cardimg{
    display: flex;
    gap: 15px;
    padding-right: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.title{
    font-weight: 700;
}

.p{
    padding-left: 15px;
}