img {
    width: 20px;
    height: 20px;
}

.dashboard {
 border: 1px solid green; 
 box-sizing: border-box;
 display: grid;
 grid-template-columns: 1fr 3fr;
}

.header{
    border: 1px solid green;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content{
    grid-column: 2 / 3;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.cardsofprojects{
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardsofannouncements{
    border: 1px solid red;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    border: 1px solid green;
    background-color: #1892d3;
    color: white;
}

.sidebar img {
    filter: invert(100%);
}