img {
    width: 20px;
    height: 20px;
}

.dashboard {
 box-sizing: border-box;
 display: grid;
 grid-template-columns: 1fr 4fr;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #1892d3;
    color: white;
    grid-column: 1 / 2;
    grid-row: span 2;
    display: grid;
    align-content: start;
    padding: 15px;
}

.sidebar img {
    filter: invert(100%);
}

.sidebar-1, .sidebar-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.nav {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.icon{
    display: flex;
    
}

#logo{
    font-size: 22px;
}

#logoimg{
    width: 20px;
    height: 25px;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    row-gap: 30px;
}

input {
    width: 350px;
    border-radius: 10px;
    border: none;
    background-color: #e2e8f0;
}

.header1{
    display: flex;
    gap: 10px;
}

.header2{
    display: flex;
    gap: 15px;
    justify-content: end;
    padding-right: 10px;
    position: relative;
}

.header3{
    display: grid;
    grid-template-columns: 1fr 10fr;
    position: relative;
}

.eren{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#erenleft{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
}

#erenright{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    bottom: 8px;
}

button{
    background-color: #1892d3;
    border-radius: 15px;
    border: none;
    padding: 5px 15px 5px 10px;
    color: white;
    width: 70px;
    height: 25px;
    font-size: 12px;
}

.button{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    gap: 10px;
}

.main{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    background-color: #e2e8f0;
}

.cardsofprojects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 15px;
}

.card{
    background-color: white;
    border-radius: 10px;
    height: 200px;
    padding: 25px;
    position: relative;
    background: linear-gradient(
    to right,
    #f0b429 0% 3%,
    white 3% 100%
  );
}

.cardimg{
    display: flex;
    gap: 15px;
    padding-right: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.title{
    font-weight: 700;
}

.card1s{
    background-color: white;
    border-radius: 15px;
    height: 100px;
}

.cardsofannouncements{
    margin-right: 30px;
}

.ca1{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

hr{
    border: 1px solid #d7d7d7;
    width: 400px;
}

.cardmessage{
    color: #5f5f5f;
}

.trendingcard{
    background-color: white;
    border-radius: 10px;
    height: 439px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 70px;
    box-sizing: border-box;
}

.eren{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.trendingcolumn1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trendingcolumn2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px 0px 10px 0px;
}

.tr{
    display: flex;
    flex-direction: column;
}

.announcements{
    position: relative;  
}

.trending{
    position: absolute;
    font-weight: 700;
    font-size: 25px;
    top: 350px;
}

.yourprojects{
    padding-left: 15px;
    font-weight: 700;
    font-size: 25px;
}

.announce{
    font-weight: 700;
    font-size: 25px;
}